// Holoseat Theme colors
$theme-colors: (
  primary: #E37926,
  secondary: #868e96,
  success: #27B81F,
  info: #268FE3,
  warning: #E3D926,
  danger: #E1262B,
  light: #f8f9fa,
  dark: #343a40
);
