{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
  <li class="nav-item active"><a class="nav-link" href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% else %}
  <li class="nav-item"><a class="nav-link" href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% endif %}
{% endmacro %}

{% macro nav_menu(menu_name, menu_items) %}
{% if request.endpoint in menu_items|map('first') %}
  <li class="nav-item dropdown active">
{% else %}
  <li class="nav-item dropdown">
{% endif %}
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{menu_name}}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      {% for item in menu_items %}
        {% if request.endpoint.endswith(item[0]) %}
          <a class="dropdown-item active" href="{{ url_for(item[0]) }}" target="{{item[2]}}">{{item[1]}}</a>
        {% elif item[0] == '---' %}
          <div class="dropdown-divider"></div>
        {% else %}
          <a class="dropdown-item" href="{{ url_for(item[0]) }}" target="{{item[2]}}">{{item[1]}}</a>
        {% endif %}
      {% endfor %}
    </div>
  </li>
{% endmacro %}
