{% from "macros.html" import nav_link with context %}
{% from "macros.html" import nav_menu with context %}
<!doctype html>
<html lang="en" style="overflow-y: scroll;">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select-fixes.css') }}">

</head>
<body style="padding-top: 60px;">
  <nav class="navbar navbar-expand-md fixed-top rounded navbar-dark bg-primary py-0 py-md-0">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='assets/holoseat-logo.jpg') }}"
             height="35"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsingNavbar">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          {% if request.endpoint.startswith('help') %}
            <!-- Help Pages Nav Bar -->
            {{ nav_link('help', 'Help') }}
            {{ nav_link('helpApp', 'App') }}
            {{ nav_link('helpHardware', 'Hardware') }}
          {% else %}
            <!-- UI Pages Nav Bar -->
            {{ nav_link('controls', 'Controls') }}
            {{ nav_link('profiles', 'Profiles') }}
            {% if debug %}
              {{ nav_menu('Settings', [('hwDefaults', 'Hardware Defaults', ''),
                                       ('serialMonitor', 'Serial Monitor', ''),
                                       ('---', '', ''),
                                       ('mobileAddress', 'Mobile Address', '')]) }}
            {% else %}
              {{ nav_menu('Settings', [('hwDefaults', 'Hardware Defaults', ''),
                                       ('---', '', ''),
                                       ('mobileAddress', 'Mobile Address', '')]) }}
            {% endif %}
            {{ nav_menu('Help', [('help', 'Help', '_new'), ('about', 'About', '')]) }}
          {% endif %}
        </ul>

        <span class="navbar-text d-none d-md-block">
          <em>Exerfy your games.</em>
        </span>
      </div>
    </div>
  </nav>

  <div class="container">
    <div>
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{category}} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
    </div>

    <!-- Top display for enable button and current cadence -->
    <div class="card">
      <div class="card-block">
        <div class="row align-items-center">
          <div class="col-md-1 col-4 m-1">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-outline-primary active">
                <input type="checkbox" checked autocomplete="off">
                <span class="h4">h</span>
              </label>
            </div>
          </div>
          <div class="col-1 d-block d-md-none d-lg-none d-xl-none">
            &nbsp;
          </div>
          <div class="col d-none d-md-block my-1 ml-1 mr-0 pr-0">
            <select class="selectpicker show-tick" data-width="100%">
              <option value="1" data-content="<span class='h4'>&nbsp;</span><span class='h5'>[default]</span>">[default]</option>
              <option value="2" data-content="<span class='h4'>&nbsp;</span><span class='h5'>Mass Effect: Andromeda</span>">Mass Effect: Andromeda</option>
              <option selected value="3" data-content="<span class='h4'>&nbsp;</span><span class='h5'>Shroud of the Avatar</span>">Shroud of the Avatar</option>
              <option value="4" data-content="<span class='h4'>&nbsp;</span><span class='h5'>Star Wars: The Old Republic</span>">Star Wars: The Old Republic</option>
            </select>
          </div>
          <div class="col-md-3 col-6 my-1 ml-3 mr-1">
            <button class="btn btn-outline-primary disabled btn-block">
              <span class="h4">
                <strong><i class="fa fa-angle-left text-white" aria-hidden="true"></i><i class="fa fa-angle-left text-white" aria-hidden="true"></i><i class="fa fa-angle-left text-white" aria-hidden="true"></i><i class="fa fa-angle-left text-white" aria-hidden="true"></i></strong>
                <span class="px-0">088</span>
                <strong><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right text-white" aria-hidden="true"></i></strong>
              <span class="h4">
            </button>
          </div>
          <div class="col d-block d-md-none d-lg-none d-xl-none m-1">
            <select class="selectpicker show-tick" data-width="100%">
              <option value="1" data-content="<span class='h4'>&nbsp;</span><span class='h5'>[default]</span>">[default]</option>
              <option value="2" data-content="<span class='h4'>&nbsp;</span><span class='h5'>Mass Effect: Andromeda</span>">Mass Effect: Andromeda</option>
              <option selected value="3" data-content="<span class='h4'>&nbsp;</span><span class='h5'>Shroud of the Avatar</span>">Shroud of the Avatar</option>
              <option value="4" data-content="<span class='h4'>&nbsp;</span><span class='h5'>Star Wars: The Old Republic</span>">Star Wars: The Old Republic</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}
  </div>

	<!-- jQuery first, then Bootstrap JS. -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
</body>
</html>
