{% extends "layout.html" %}
{% block title %}Serial Monitor{% endblock %}

{% block content %}
  {% if debug %}
  <div class="card">
    <span class="h4 m-1">Serial Monitor</span>
    <div class="card-block">
      <div class="input-group my-1 px-1">
        <input id="serialMonitorInput" type="text" class="form-control" placeholder="Enter a command to send to Holoseat">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Send</button>
        </span>
      </div>

      <div class="my-1 px-1">
        <textarea readonly class="bg-white form-control form-control-sm" id="serialMonitorOutput" rows="20"></textarea>
      </div>

      <div class="row justify-content-between px-1 my-1">
        <div class="col-9">
          <div class="btn-toolbar">
            <button id="autoScrollEnabledButton" type="button" class="mr-1 btn btn-sm btn-outline-secondary active" data-toggle="button" aria-pressed="true" autocomplete="off">
              <strong>Autoscroll</strong> On
            </button>
            <button id="watchAllEnabledButton" type="button" class="btn btn-sm btn-outline-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
              <strong>Watch All</strong> Off
            </button>
          </div>
        </div>
        <div class="col-3">
          <button class="btn btn-sm btn-secondary float-right">Clear Output</button>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="card">
    <span class="h4 m-1">Serial Monitor</span>
    <div class="card-block">
      <p class="text-muted m-1">The Serial Monitor is only available in <strong>Debug Mode</strong>.  [TODO: Add instructions for starting the app in Debug Mode]</p>
    </div>
  </div>
  <!-- todo: add instructions for restarting app in debug mode -->
  {% endif %}
{% endblock %}
